<!DOCTYPE html>
<html lang="en">
<head>

    <title>@ViewData["Title"]</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="~/assets/css/all.min.css" type="text/css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css" type="text/css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.css" type="text/css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css" type="text/css">
    <!-- animate css -->
    <link rel="stylesheet" href="~/assets/css/animate.css" type="text/css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="~/assets/css/meanmenu.min.css" type="text/css">
    <!-- main style -->
    <link rel="stylesheet" href="~/assets/css/main.css" type="text/css">
    <!-- responsive -->
    <link rel="stylesheet" href="~/assets/css/responsive.css" type="text/css">
    <!-- responsive -->
    <link rel="stylesheet" href="~/assets/css/timeline.css" type="text/css">
    <!-- sweet alerts -->
    <link media="screen" rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.min.css" />
    <link media="screen" rel="stylesheet" href='https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.css' />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.min.js"></script>
    <!-- datatables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

</head>
<body>
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    @RenderBody()

    <!-- jquery -->
    <script src="~/assets/js/jquery-1.11.3.min.js"></script>
    <!-- bootstrap -->
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- count down -->
    <script src="~/assets/js/jquery.countdown.js"></script>
    <!-- isotope -->
    <script src="~/assets/js/jquery.isotope-3.0.6.min.js"></script>
    <!-- waypoints -->
    <script src="~/assets/js/waypoints.js"></script>
    <!-- owl carousel -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- mean menu -->
    <script src="~/assets/js/jquery.meanmenu.min.js"></script>
    <!-- sticker js -->
    <script src="~/assets/js/sticker.js"></script>
    <!-- main js -->
    <script src="~/assets/js/main.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
    </script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js">
    </script>
    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                language: {
                    processing: "Tratamiento en curso...",
                    search: "Buscar:",
                    lengthMenu: "Agrupar de _MENU_ items",
                    info: "Mostrando del item _START_ al _END_ de un total de _TOTAL_ items",
                    infoEmpty: "No existen datos.",
                    infoFiltered: "(filtrado de _MAX_ elementos en total)",
                    infoPostFix: "",
                    loadingRecords: "Cargando...",
                    zeroRecords: "No se encontraron datos en la busqueda",
                    emptyTable: "No hay datos disponibles en la tabla.",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    },
                    aria: {
                        sortAscending: ": active para ordenar la columna en orden ascendente",
                        sortDescending: ": active para ordenar la columna en orden descendente"
                    }
                },
                scrollY: 400,
                lengthMenu: [[10, 25, -1], [10, 25, "Todos"]],
            });
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>